@model DishViewModel
@{ ViewData["Title"] = "Edit";}


<h1> EDIT a DISH</h1>
<form method="post">


    <div class="form-group">

        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">

        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>


    <div class="form-group">
        <label asp-for="TypeCourse"></label>
        <!--
            <select asp-items="Html.GetEnumSelectList<DishViewModel.TypeCourse.MainCourse>()"> </select>
            <select asp-items="Html.GetEnumSelectList<Dish.TypeCourse.SecondCourse>()"> </select>
            <select asp-items="Html.GetEnumSelectList<TypeCourse.Sides>()"> </select>
        -->
    </div>


    <div>
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>


<div>
    <a asp-action="Index"> Back to List</a>
</div>
