@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h2>Get in contact with us!</h2>
<img src="<img src="https://it.freepik.com/vettori-gratuito/sistema-di-localizzazione-geografica_5190682.htm" />
<li>
    <ul>visit us : Strada Nova 3333a , Venezia</ul>
    
    <ul>call us at : 04 044440044</ul>
    
    <ul>email us: ginos@venezia.it</ul>
</li>
