@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h2>Get in contact with us!</h2>
<div>
    <img src="https://thumbs.dreamstime.com/b/ristorante-all-aperto-con-una-vista-sull-oceano-atlantico-29552334.jpg" />
</div>

<li>
    <ul>visit us : Strada Nova 3333a , Venezia</ul>
</li>
<li>
    <ul>call us at : 04 044440044</ul>
</li>
<li>   
    <ul>email us: ginos@venezia.it</ul>
</li>
