@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Gino's</h1>
    <p>Welcome to our delicious world!</p>
    <img src="https://th.bing.com/th/id/OIP.YFrZX_rXPuLDiXKpB1BIPQHaHa?pid=ImgDet&rs=1" />
</div>
